@import "style/common/flexbox";

.playbutton {
    .flexbox();
    align-items: center;
    justify-content: center;
    float: left;
    height: 34px;
    width: 34px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 5px;
    > img {
        
        height: 40% !important;
    }
}
