@import "style/common/flexbox";

.container {
    margin-top: 4px;
    .flex(1,1);
    .flexbox();
    .templeft {
        .flex(1,5);
        .order(1);
        background-color: #f7f8fa;
    }
    .tempright {
        .flex(4,5);
        .order(2);
        > p {
            margin: 50px;
            font-size: 1.5em;
        }
    }
    .playerField {
        
        height: 100%;
        .flexbox();
        align-items: center;
        justify-content: center;

    }
}
